<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">

    <title>Proveedores</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-2" style="width: 250px;">
                <img src="https://fv9-4.failiem.lv/thumb_show.php?i=ystzd9sjg&view" class="img-thumbnail" alt="logo">
            </div>
            <div class="col-auto" id="titulo">
                <h1>Proveedores</h1>
            </div>
        </div>
    </div>


    <div class="container" id="lista clientes">
        <div class="row align-items-start">
            <div class="col">
                <form class="row gy-2 gx-3 align-items-center">
                    <div class="col-auto">
                      <label class="visually-hidden" for="name">Nombre Completo</label>
                      <input type="text" class="form-control" id="name" placeholder="Nombre Proveedor">
                    </div>
                    <div class="col-auto">
                      <label class="visually-hidden" for="autoSizingInputGroup">Contacto</label>
                      <div class="input-group">
                     
                        <input type="text" class="form-control" id="deuda" placeholder="Contacto: teléfono, email...">
                        
                      </div>
                    </div>
                    <div class="col-auto">
                        <select class="form-select" aria-label="seleccion-rubro">
                            <option selected>Área de rubro...</option>
                            <option value="1">Congelados</option>
                            <option value="2">Lacteos</option>
                            <option value="3">Despensa</option>
                            <option value="4">Aseo e higiene</option>
                            <option value="5">Bebestibles</option>
                            <option value="6">Pasteleria y dulces</option>
                            <option value="7">Frutas y verduras</option>
                            <option value="7">Carnes y rotisería</option>
                            <option value="8">Otros...</option>
                          </select>
                    </div>
                    
                    <div class="col-auto">
                      <button type="submit" class="btn btn-success">Aceptar</button>
                    </div>
                </form>
                <table class="table" id="tabla-clientes">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre Proveedor</th>
                        <th scope="col">Contacto</th>
                        <th scope="col">Rubro</th>
                        <th scope="col">Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% results.forEach(function (proveedores) { %>
                        <tr>
                          <td><%= proveedores.id_prov %></td>
                          <td><%= proveedores.nombre_prov %></td>
                          <td><%= proveedores.contacto_prov %></td>
                          <td><%= proveedores.rubro_prov %></td>
                          <td>
                            <a href="/edit" class="btn btn-outline-success btn-sm">Editar</a>
                            <a href="/delete" class="btn btn-outline-danger btn-sm">Borrar</a>
                          </td>
                        </tr>
        
                      <% }) %>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a href="http://localhost:3000" class="btn btn-primary">Volver al menú</a>
        </div>
    </div>
</body>
</html>
